<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.zubair.myapplication">

    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="18"/>

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false"/>

    <application
        android:largeHeap="true"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="Asset Manager"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".splash_screen"
            android:label="Asset Manager">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".Welcome">
        </activity>
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".AddComponent">
        </activity>
        <activity android:name=".Signup">
        </activity>
        <activity android:name=".AddCategory">
        </activity>
        <activity android:name=".Asset_List_Activity">
        </activity>
        <activity android:name=".Categories">
        </activity>
        <activity android:name=".ShowComponent">
        </activity>
        <activity android:name=".Category_Items">
        </activity>
        <activity android:name=".Manage_Users">
        </activity>
        <activity android:name=".UserDetails">
        </activity>
    </application>

</manifest>